/*Estilos generales de la web*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    overflow-x: hidden;





}


/*Variables de estilo */

:root {
    --color-principal: #222;
    --color-secundario: #ffffff;
    --color-terciario: #DCDCDC;
    --color-errror: #ff5449;
    --color-neutral: #83b916;
    --color-fondo: #f5f5f5;
    --color-texto: #333;
    --color-card: #ffffff;
    --color-card-ligth: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #333;
    color: white;
}

#logo img {
    width: 120px;
}

#menu-toggle {
    font-size: 30px;
    cursor: pointer;
}


#nav-bar {
    position: fixed;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100%;
    background-color: #444;
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    transition: left 0.3s ease;
    z-index: 9999;
}

#nav-bar a {
    color: white;
    text-decoration: none;
    margin: 15px 0;
    font-size: 18px;
}


#nav-bar.active {
    left: 0;
}


.cerrar-menu {
    background: none;
    border: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
    margin-bottom: 20px;
    align-self: flex-end;
}


body {
    background-color: var(--color-terciario)
}

#promociones {
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
    background-color: rgb(153, 150, 150);
    padding: 10px;
    position: relative;

    h3 {
        display: inline-block;
        white-space: nowrap;
        position: relative;
        animation: moverTexto 14s linear infinite;
    }
}

@keyframes moverTexto {
    0% {
        left: 100%;
    }

    100% {
        left: -100%;
    }
}

footer {
    background-color: var(--color-principal);
    color: white;
    padding: 40px 20px;
    margin-top: 40px;

    #footer-data {
        display: grid;
        grid-template-columns: 0.5fr 1fr;
        gap: 20px;

        #footer-links {
            font-size: x-large;
            justify-self: center;

            a {
                display: block;
                color: white;
                text-decoration: none;
                font-size: 1rem;
                margin: 5px 0px;
            }
        }

    }

    #footer-copiright {
        margin-top: 30px;
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;

    }
}








/*ESTILOS HOME*/

#promos {
    img {
        width: 100%;
        height: auto;
        margin-bottom: 5px;
        padding-bottom: 20px;
    }

}

.presentacion {
    padding: 20px;
    text-align: center;
    margin-bottom: 40px;

    h1 {
        font-size: 2em;
        margin-bottom: 10px;
    }

    p {
        font-size: 1.1em;
        color: #555;
    }
}

#tiendas-cercanas {
    h2 {
        text-align: center;
        text-decoration: underline;
    }

    #iframe-tienda {
        margin: 40px;

        iframe {
            width: 100%;
            min-height: 400px;
        }

    }
}







.productos-sugeridos {
    display: grid;
    grid-template-columns: 0.5fr 1fr;

    #sugerencias {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 5px;
    }
}

.tarjeta-producto {
    max-width: 280px;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
    padding: 15px;
    background-color: #fafafa;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    img {
        width: 100%;
        height: auto;
        border-radius: 8px;
        margin-bottom: 10px;
    }

    h3 {
        margin: 10px 0 5px;
        font-size: 1.1em;
    }

    p {
        font-size: 1em;
        color: #222;
        font-weight: bold;
    }
}

#call-tienda {
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    grid-template-rows: auto;
    gap: 20px;
    

    img {
        width: 100%;
        height: auto;
        border-radius: 8px;
        margin-bottom: 10px;
    }

    div {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr ;
        justify-self: center;
        align-items: center;

        p {
            font-size: 1.1em;
            padding: 20px;
            text-align: center;
            justify-self: end;
            color: #555;
            
            
        }

        #boton {
            justify-self: center
        }

        #boton-tienda {
            justify-content: center;
            align-items: center;
            background-color: var(--color-principal);
            color: var(--color-secundario);
            padding: 10px 20px;
            border-radius: 5px;
            font-size: 1.2em;
            font-weight: bold;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: var(--color-secundario);
                color: var(--color-principal);
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            }
        }

        


    }
}




/* Carrito */
#abrirCarrito {
    padding: 10px 16px;
    background-color: #111;
    color: white;
    border: none;
    border-radius: 8px;

}


.carrito {
    position: fixed;
    top: 0;
    right: -100%;
    width: 80%;
    height: 100vh;
    background-color: #f5f5f5;
    box-shadow: -4px 0 8px rgba(0, 0, 0, 0.2);
    padding: 30px 20px;
    transition: right 0.3s ease;
    z-index: 999;
    overflow-y: auto;
}


.carrito.activo {
    right: 0;
}


.cerrar-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background: transparent;
    border: none;
    font-size: 24px;
}



.carrito-items {
    margin-top: 20px;
}

.item-carrito {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;

    img {
        width: 60px;
        height: auto;
        margin-right: 15px;
        border-radius: 6px;
    }

    h4 {
        margin: 0;
        font-size: 16px;
    }

    p {
        margin: 5px 0 0 0;
        font-weight: bold;
    }
}

.carrito-total {
    margin-top: 30px;
    border-top: 2px solid #000;
    padding-top: 15px;
    font-weight: bold;
    height: auto;

    .btn-comprar{
        margin-top: 10px;
    padding: 10px 20px;
    background-color: #111;
    color: #fff;
    border: none;
    border-radius: 8px;

    }
}

.btn-vaciar {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #111;
    color: #fff;
    border: none;
    border-radius: 8px;
    transition: background-color 0.2s ease;
    

    &:hover {
        background-color: green;
        color: black;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }


}




/* Estilos para pantallas de hasta 850px de ancho y 600px de alto */
@media (max-width: 870px) {

    header a img {
        width: 60%;
        margin: 0px 10px;

    }

    .tarjeta-producto {
        width: 200px;
        height: 200px;
    }

    #call-tienda {
        display: grid;
        grid-template-columns: 1fr;

        img {
            display: none;
        }
    }

    #detalle-producto {
        margin: 40px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;

        #producto {
            margin-top: 40px;

        }
    }
}



/* Estilos para pantallas de hasta 650px de ancho y 600px de alto */
@media (max-width: 650px) {
    header a img {
        width: 70%;
        margin: 0px 10px;

    }

    #call-tienda {
        display: grid;
        grid-template-columns: 1fr;

        img {
            display: none;
        }






    }
}