/*Estilos generales de la web*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;




}


/*Variables de estilo */

:root {
    --color-principal: #222;
    --color-secundario: #ffffff;
    --color-terciario: #DCDCDC;
    --color-errror: #ff5449;
    --color-neutral: #83b916;
    --color-fondo: #f5f5f5;
    --color-texto: #333;
    --color-card: #ffffff;
    --color-card-ligth: #333;
}



header {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-height: 100px;
    background-color: var(--color-principal);
    color: var(--color-card);
    box-shadow: darkblue;

    #logo {
        justify-self: start;
        align-self: center;
    }

    #carritobtn {
        justify-self: end;
        align-self: center;
        
    }

    #nav-bar {
        justify-self: center;
        text-align: center;
        align-self: center;
    }

}

header p {
    text-align: right;
}

header a img {
    width: 25%;
    margin: 0px 10px;

}

header a {

    color: var(--color-card);
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    margin: 0px 10px;

}

#nav-bar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

body {
    background-color: var(--color-terciario)
}

#promociones {
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
    background-color: rgb(153, 150, 150);
    padding: 10px;
    position: relative;

    h3 {
        display: inline-block;
        white-space: nowrap;
        position: relative;
        animation: moverTexto 14s linear infinite;
    }
}

@keyframes moverTexto {
    0% {
        left: 100%;
    }

    100% {
        left: -100%;
    }
}

footer {
    background-color: var(--color-principal);
    color: white;
    padding: 40px 20px;
    margin-top: 40px;

    #footer-data {
        display: grid;
        grid-template-columns: 0.5fr 1fr;
        gap: 20px;

        #footer-links {
            font-size: x-large;
            justify-self: center;

            a {
                display: block;
                color: white;
                text-decoration: none;
                font-size: 1rem;
                margin: 5px 0px;
            }
        }

    }

    #footer-copiright {
        margin-top: 30px;
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;

    }
}








/*ESTILOS HOME*/

#promos {
    img {
        width: 100%;
        height: auto;
        margin-bottom: 5px;
        padding-bottom: 20px;
    }

}

.presentacion {
    padding: 20px;
    text-align: center;
    margin-bottom: 40px;

    h1 {
        font-size: 2em;
        margin-bottom: 10px;
    }

    p {
        font-size: 1.1em;
        color: #555;
    }
}



.productos-sugeridos {
    display: grid;
    grid-template-columns: 0.5fr 1fr;

    #sugerencias {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 5px;
    }
}

.tarjeta-producto {
    max-width: 280px;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
    padding: 15px;
    background-color: #fafafa;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    img {
        width: 100%;
        height: auto;
        border-radius: 8px;
        margin-bottom: 10px;
    }

    h3 {
        margin: 10px 0 5px;
        font-size: 1.1em;
    }

    p {
        font-size: 1em;
        color: #222;
        font-weight: bold;
    }
}

#call-tienda {
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    gap: 20px;
    margin: 20px 0px;

    img {
        width: 100%;
        height: auto;
        border-radius: 8px;
        margin-bottom: 10px;
    }

    div {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 0.45fr 1fr;

        p {
            font-size: 1.1em;
            padding: 20px;
            text-align: center;
            justify-self: end;
            color: #555;
        }

        #boton {
            justify-self: center
        }

        #boton-tienda {
            justify-content: center;
            align-items: center;
            background-color: var(--color-principal);
            color: var(--color-secundario);
            padding: 10px 20px;
            border-radius: 5px;
            font-size: 1.2em;
            font-weight: bold;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: var(--color-secundario);
                color: var(--color-principal);
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            }
        }

        #call-suscripcion {
            display: grid;
            padding-top: 20px;
            grid-template-columns: 1fr;
            grid-template-rows: 0.6fr 1fr;
            text-align: center;

            h2 {
                margin-top: 60px;
            }

            form {
                display: grid;
                grid-template-columns: 1fr 1fr;
                margin-top: 20px;
                padding: 20px;

                p {
                    text-align: center;
                    justify-self: center;

                    button {
                        justify-content: center;
                        align-items: center;
                        background-color: var(--color-principal);
                        color: var(--color-secundario);
                        padding: 10px 20px;
                        border-radius: 5px;
                        font-size: 1.2em;
                        font-weight: bold;

                        transition: background-color 0.3s ease;

                        &:hover {
                            background-color: var(--color-secundario);
                            color: var(--color-principal);
                            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
                        }

                    }
                }

            }
        }


    }
}









/* Estilos para pantallas de hasta 850px de ancho y 600px de alto */
@media (max-width: 870px) {

    header a img {
        width: 60%;
        margin: 0px 10px;

    }

    .tarjeta-producto {
        width: 200px;
        height: 200px;
    }

    #call-tienda {
        display: grid;
        grid-template-columns: 1fr;

        img {
            display: none;
        }
    }
}

.productos-sugeridos {
    display: grid;
    grid-template-columns: 1fr;

    #titulo-sugerencia {
        justify-self: center;
        margin-bottom: 20px;

        h2 {
            text-decoration: underline;
        }
    }


    #sugerencias {
        display: grid;
        grid-template-columns: 1fr;
        gap: 100px;
        margin-bottom: 100px;
        justify-self: center;
    }

}

/* Carrito */
#abrirCarrito {  
  padding: 10px 16px;
  background-color: #111;
  color: white;
  border: none;
  border-radius: 8px;
  
}


.carrito {
  position: fixed;
  top: 0;
  right: -100%;
  width: 50%;
  height: 100vh;
  background-color: #f5f5f5;
  box-shadow: -4px 0 8px rgba(0, 0, 0, 0.2);
  padding: 30px 20px;
  transition: right 0.3s ease;
  z-index: 999;
  overflow-y: auto;
}


.carrito.activo {
  right: 0;
}


.cerrar-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
}







/* Estilos para pantallas de hasta 650px de ancho y 600px de alto */
@media (max-width: 650px) {
    header a img {
        width: 70%;
        margin: 0px 10px;

    }

    #call-tienda {
        display: grid;
        grid-template-columns: 1fr;

        img {
            display: none;
        }






    }
}