:root {
    --color-principal: #296900;
    --color-secundario: #3f6929;
    --color-terciario: #006671;
    --color-errror: #ff5449;
    --color-neutral:#90918c;
    --color-fondo: #f5f5f5;
    --color-texto: #333;
    --color-card: #ffffff;
    --color-card-ligth: #333;
    --fuente-titulos: Roboto Mono;
    --fuente-textos: Roboto;
}

nav{
    background-color: var(--color-principal);
    color: var(--color-card-ligth);
}

