@import url("/style/style.css");


#datos-tabla{    
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    background-color: rgba(63, 62, 62, 0.699);
    padding: 25px;
    width: 80%;
    margin: auto;
    border: 4px solid var(--color-principal);

    tr{
        display: grid;
        grid-template-columns: 1fr 0.4fr 0.3fr 0.2fr 0.7fr 0.5fr;
        
        td{
            text-align: center;
            border-bottom: 2px solid rgb(226, 201, 201);
            a{
                color: var(--color-neutral)
            }
        }
    }
}

h1{
    text-align: center;
    margin: 20px;
    text-decoration: underline;
}


@media (max-width: 870px) {
    
}




/* Estilos para pantallas de hasta 650px de ancho y 600px de alto */
@media (max-width: 650px) {
    #datos-tabla{
        font-size: small;
        width: 95%;
        tr{
        gap: 2px;
        }
    

    }
    
}