@import url("/style/style.css");
@import url("/style/tienda/style.css");


#titulo-stock{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    margin: auto;
    h1{    
    margin: 20px;
    text-decoration: underline;
    align-self: center;
    }
    div{
        justify-self: end;
        align-self: center;
    }
}

#datos-tabla{    
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    background-color: rgba(63, 62, 62, 0.699);
    padding: 25px;
    width: 90%;
    margin: auto;
    border: 4px solid var(--color-principal);

    tr{
        display: grid;
        grid-template-columns: 1fr 0.4fr 0.2fr 0.7fr 0.5fr 0.5fr 0.5fr;
        
        td{
            text-align: center;
            border-bottom: 2px solid rgb(226, 201, 201);
            a{
                color: var(--color-neutral)
            }
        }
    }
}

.eliminar{
    display: none;
}




@media (max-width: 870px) {
    
}




/* Estilos para pantallas de hasta 650px de ancho y 600px de alto */
@media (max-width: 650px) {
    #datos-tabla{
        font-size: small;
        width: 95%;
        tr{
        gap: 2px;
        }
    

    }
    
}



.modal-editar {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  width: 20%;
  background-color: #e0e0e0;
  padding: 20px 25px;
  border-radius: 10px;
  box-shadow: 0 0 12px rgba(0,0,0,0.4);
  z-index: 10000;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.modal-editar.activo {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

.modal-editar .cerrar-btn {
  position: absolute;
  top: 8px;
  right: 12px;
  background: none;
  border: none;
  font-size: 20px;
  
}
