
.busqueda-main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 80px;
  min-height: 100vh;
  background-color: #f9f9f9;
}

.busqueda-contenedor {
  width: 80%;
  max-width: 800px;
}

#input-busqueda {
  width: 100%;
  padding: 15px 20px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  margin-bottom: 20px;
}


.resultados {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.resultado-item {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: background-color 0.2s;
  img {
        width: 60px;
        height: 60px;
        object-fit: cover;
        margin-right: 15px;
        border-radius: 6px;
        }
    span {
        font-weight: bold;
        font-size: 16px;
        }
}

.resultado-item:hover {
  background-color: #f2f2f2;
}



