@import url("./style.css");
@import url("/style/tienda/style.css");



#detalle-producto{
    margin: 40px;
    display: grid;
    grid-template-columns:  1fr 1fr;
    grid-template-rows: 1fr;

    #img-producto{
        max-width: 100%;        
        img{
            width: 100%;
            border-radius: 5%;
        }
    }
    #producto{
        width: 400px;
        display: grid;
        grid-template-columns: 1fr;
        align-content: center;
        margin: auto;
        gap: 40px;
        button {
            justify-content: center;
            align-items: center;
            background-color: var(--color-principal);
            color: var(--color-secundario);
            padding: 10px 20px;
            border-radius: 5px;
            font-size: 1.2em;
            font-weight: bold;

            transition: background-color 0.3s ease;

            &:hover {
                background-color: var(--color-secundario);
                color: var(--color-principal);
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            }

        }
    }

}

#tiendas-cercanas{
    h2{
        text-align: center;
        text-decoration: underline;
    }
    #iframe-tienda{
        margin: 40px;
        iframe{
            width: 100%;
            min-height: 400px;
        }
        
    }
}




@media (max-width: 870px) {
    #detalle-producto{
        margin: 40px;
        display: grid;
        grid-template-columns:  1fr ;
        grid-template-rows: auto;
        #producto{
        margin-top: 40px;
        
        }
    }
}




/* Estilos para pantallas de hasta 650px de ancho y 600px de alto */
@media (max-width: 650px) {
    
    
}